project_name=ElaraReplClient
target_name=elara-repl-client
application_kind=console
ui_client_language=c++
ui_template=tabbed-control-panel
include_python_multi_cpu_template=0
include_repl=1
socket_mode=none
socket_transport=plain
include_debug_harness=1
include_thread_pool=0
include_threaded_worker=0
include_epa_vm_host=0
include_epa_debug_rpc=0
include_indexed_data_store=0
worker_name=ElaraReplClientWorkerTask
socket_address=0.0.0.0
socket_port=4040
indexed_data_store_path=data/store.dat
indexed_data_store_bank_map_redundancy=2
