project_name=EpaIde
target_name=epa-ide
application_kind=ui
ui_client_language=python
ui_template=rich-editor
include_python_multi_cpu_template=1
include_repl=0
socket_mode=none
socket_transport=json-rpc
include_debug_harness=0
include_thread_pool=0
include_threaded_worker=0
include_indexed_data_store=0
worker_name=EpaIdeWorkerTask
socket_address=127.0.0.1
socket_port=18777
indexed_data_store_path=data/store.dat
indexed_data_store_bank_map_redundancy=2
